### XiCPlus

### beams
Beams:idA 2212			# proton
Beams:idB 2212 			# proton
Beams:eCM 13600. 		# GeV

### processes
SoftQCD:inelastic on		# all inelastic processes

ParticleDecays:limitTau0 on
ParticleDecays:tau0Max 100.

# Correct XiCPlus decay length (mm/c) (life time 4.53 +- 0.05 x 10^⁻13)
4232:tau0 = 0.1358

### switching on Pythia Mode2
ColourReconnection:mode 1
ColourReconnection:allowDoubleJunRem off
ColourReconnection:m0 0.3
ColourReconnection:allowJunctions on
ColourReconnection:junctionCorrection 1.20
ColourReconnection:timeDilationMode 2
ColourReconnection:timeDilationPar 0.18
StringPT:sigma 0.335
StringZ:aLund 0.36
StringZ:bLund 0.56
StringFlav:probQQtoQ 0.078
StringFlav:ProbStoUD 0.2
StringFlav:probQQ1toQQ0join 0.0275,0.0275,0.0275,0.0275
MultiPartonInteractions:pT0Ref 2.15
BeamRemnants:remnantMode 1
BeamRemnants:saturation 5

### add XiCPlus decay absent in PYTHIA8 decay table
4232:addChannel = 1 0.067 0 3312 211 211

### force the XiCPlus to decay in the XiCPlus -> XiMinus Pi Pi channel
4232:onMode = off
4232:onIfMatch = 3312 211 211

### force the XiMinus to decay in the XiMinus -> Lambda Pi channel
3312:onMode = off
3312:onIfAll = 3122 211

### force the Lambda to decay in the Lambda -> Proton Pi channel
3122:onMode = off
3122:onIfAll = 2212 211
